<% provide(:title, "About") %>
<h1>About</h1>
<p>
    This website displays the population of each country in the world as of 2016 using this 
    <a href="https://data.worldbank.org/data-catalog/Population-ranking-table">World Bank data source</a> openly available online.
</p>

