<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  To keep up to date with us,
  <a href="https://twitter.com/nationspop?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @nationspop</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>