<% provide(:title, "Data Display") %>
<h1>Data</h1>


<!-- % @data = Country.where(:created_at => @date_range) % -->
<table style="width:100%">
    <tr> 
        <th>Symbol</th>
        <th>Rank</th>
        <th>Name</th>
        <th>Population (000's)</th>
    </tr>
    <% @data.find_each do |data|  %>
        <tr>
        <td><%= data.symbol %></td>
        <td><%= data.rank %></td>
        <td><%= data.name %></td>
        <td><%= data.population %></td>
        </tr>
    <% end %>
</table>
