<div class="center jumbotron">
<h1>Nations Populations</h1>
<h2>
    This is the home page for population's of the world's nations
</h2>


<%= link_to "Sign up now to see more!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


