<% provide(:title, "Maps") %>
<h1>Maps</h1>
<p>
    Here you can find maps displaying the data used from this
    <a href="https://data.worldbank.org/data-catalog/Population-ranking-table">World Bank data source</a> which is openly available to view online.
</p>


<p>
    The map below shows the populations of every nation in the world in 2016 (expressed in 1,000s)
</p>
<iframe src="https://www.google.com/maps/d/embed?mid=1hS0yZCBWXiiGCIpJEBFhfoqUNIM" width="640" height="480"></iframe>

<p>
    Population per region in the world (expressed in 1,000s)
</p>
<iframe src="https://www.google.com/maps/d/embed?mid=1TxZgOsh9PzzbOnN_Jh49bTIIagc" width="640" height="480"></iframe>


<p>
    Ten countries in the world with the largest populations
</p>
<iframe src="https://www.google.com/maps/d/embed?mid=1oDTFldKEMLh-alVQssWqHdU5Hek" width="640" height="480"></iframe>

