<% provide(:title, "Live Twitter Feed") %>
<h1>Live Twitter Feed</h1>
<p>
    Most recent worldwide tweets about global population- Check out the most recent top trending tweets here!
</p>

<a class="twitter-timeline"  href="https://twitter.com/search?q=%23world%20%23population" data-widget-id="918882989232283649">Tweets about #world #population</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          