<h1>Populations of Nations</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to our website- exploring all things related to the populations of the countries of the world! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>