Hi <%= @user.name %>,

Welcome to the Populations of Nations website! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
