<footer class="footer">
  <script src="https://use.fontawesome.com/60f808c7d2.js"></script>
  <small>
   Populations by Country- 2016 Coverage
  </small>
  <nav>
    <ul>
       <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href=https://data.worldbank.org/data-catalog/Population-ranking-table>Data Source Link</a></li>
    </ul>
  </nav>
</footer> 