<header class="navbar navbar-fixed-top navbar-inverse">
  <script src="https://use.fontawesome.com/60f808c7d2.js"></script>
  <div class="container">
    <i class="fa fa-globe fa"></i>
    <%= link_to "Home", root_path, id: "logo" %>
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Maps", maps_path %></li>
        <li><%= link_to "Data", data_path %></li>
        <li><%= link_to "Twitter", twitter_path %></li>
        <% if logged_in? %>
  
            <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>