<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/60f808c7d2.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
